<footer>
    <section id="footer">
        <div class="footer container">
          <div class="brand">
            <h1><span>D</span>ear <span>D</span>iary</h1>
          </div>
          <h2>Your website</h2>
          <div class="social-icon">
            <div class="social-item">
              <a href="#"><i class="fa-brands fa-facebook fa-fade fa-4x"></i></a>
            </div>
            <div class="social-item">
              <a href="#"><i class="fa-brands fa-instagram fa-fade fa-4x"></i></a>
            </div>
            <div class="social-item">
              <a href="#"><i class="fa-brands fa-twitter fa-fade fa-4x"></i></a>
            </div>
          </div>
          <p>Copyright</p>
        </div>
      </section>
</footer>
<script src="https://kit.fontawesome.com/18ef5b7e79.js" crossorigin="anonymous"></script>